:root{
  --text-color: #000000;
  --bg-color: #ffffff;
}
.dark-theme {
  --text-color: #ffffff;
  --bg-color: #000000;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--text-color);
}
.content-bg-color {
  background-color: var(--bg-color)
}
.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}